body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
.blocks-wrapper {
  display: flex;
}
